.fondo {
    height: 300vh;
    background-image: url(../imagenes/fondo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 767px) {
        background-image: url(../imagenes/fondo-mobile.svg);
    }
}

.fondo2{
    background-image: url(../imagenes/fondo-formulario.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 767px) {
        background-image: url(../imagenes/fondo-formulario-mobile.png);
    }
}