header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../imagenes/header.png);
    background-size: 100vw;
    background-position: top;
    background-repeat: no-repeat;
    background-position-y: -100px;
    .Header__Hero {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 100px 0;
        .Header__Hero__Titulo{
            font-family: 'Junge', serif;
            font-size: 1.3em;
            font-weight: 500;
            font-style: normal;
            line-height: 100;
            color: $color_principal;
            margin-right: 200px;
            margin-bottom: 150px;
        }
        .Header__Hero__Imagen {
            img {
                width: 450px;
            }
        }
    }
}

.Header__Hero__Siguiente {
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        text-align: center;
        font-size: 2em;
        color: $color_principal;
        font-weight: 600;
        line-height: 0px;
        padding: 0 0 20px 0;
    }
    a {
        img {
            width: 30px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    Header {
        .Header__Hero {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 320px 0;
            .Header__Hero__Titulo{
                width: 50%;
                font-size: 1em;
                font-weight: 400;
                line-height: 20;
                margin: 0;
                h1 {
                    font-size: 5em;
                    text-align: center;
                }            
            }
            .Header__Hero__Imagen {
                width: 50%;
                img {
                    width: 100%;
                }
            }
        }
        .Header__Hero__Siguiente {
            margin-top: -250px;
            p {
                font-size: 4em;
                padding: 0 0 50px 0;
            }
            a {
                img {
                    width: 50px;
                }
            }
        }
    }
}

/*Telefono*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
    Header {
        height: 90vh;
        .Header__Hero {
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 130px 0 0 0;
            .Header__Hero__Titulo{
                width: 50%;
                font-weight: 400;
                line-height: 20;
                margin: 0;
                h1 {
                    font-size: 2em;
                    text-align: center;
                }            
            }
            .Header__Hero__Imagen {
                width: 50%;
                img {
                    width: 100%;
                }
            }
        }
        .Header__Hero__Siguiente {
            margin-top: -550px;
            p {
                font-size: 2em;
                padding: 0 0 10px 0;
            }
            a {
                img {
                    width: 30px;
                }
            }
        }
    }
}