header {
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../imagenes/header.png);
    background-size: 100vw;
    background-position: top;
    background-repeat: no-repeat;
    background-position-y: -100px;
    .Header__Hero {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 100px 0;
        .Header__Hero__Imagen {
            img {
                width: 600px;
            }
        }
    }
}