.Servicios {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 175px 0 0 0;
    .Servicios__Titulo {
        h3 {
            color: #4B949C;
            text-align: center;
            font-size: 3.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2rem;
            letter-spacing: 0em;
        }
    }
    .Servicios__Bloque {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 75px 50px 0 50px;
        .Servicios__Bloque__Item {
            width: 30%;
            height: 300px;
            background-color: #ffffff;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: 0px 0px 10px .5px rgb(173, 173, 173);
            img {
                text-align: center;
                width: 150px;
                margin: auto;
            }
            h4 {
                color: $color_botones;
                text-align: center;
                margin: 5px;
            }
            p {
                color: #000000;
                text-align: center;
                margin: 25px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .Servicios {
        height: auto;
        background-image: url(../imagenes/fondo-servicios.png);
        background-size: 100vw;
        background-repeat: no-repeat;
        margin-top: 100px;
        margin-bottom: 100px;
        .Servicios__Titulo {
            h3 {
                text-align: center;
                padding-bottom: 50px;
            }
        }
        .Servicios__Bloque {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            .Servicios__Bloque__Item {
                width: 90%;
                height: 300px;
                background-color: #ffffff;
                border-radius: 25px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-shadow: 0px 0px 5px .5px black;
                margin-bottom: 20px;
                img {
                    text-align: center;
                    width: 150px;
                }
                h4 {
                    color: $color_botones;
                    text-align: center;
                    margin: 5px;
                }
                p {
                    color: #000000;
                    text-align: center;
                    margin: 10px;
                }
            }
        }
    }
}