.Servicios {
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .Servicios__Titulo {
        h3 {
            color: #4B949C;
            text-align: center;
            font-size: 5rem;
            font-style: normal;
            font-weight: 700;
            line-height: 3rem;
            letter-spacing: 0em;
            padding: 175px 0 0 0;
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
        .swiper-slide {
            text-align: center;        
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            .Servicios__Bloque {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: 7% 5% 0 5%;
                .Servicios__Bloque__Item {
                    width: 30%;
                    height: 400px;
                    background-color: #ffffff;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    box-shadow: 0px 4px 13px 0px #9AB4B533;
                    img {
                        text-align: center;
                        width: 150px;
                        margin: auto;
                    }
                    h4 {
                        color: #4B949C;
                        text-align: center;
                        margin: 5px;
                    }
                    p {
                        color: #000000;
                        text-align: center;
                        margin: 25px;
                    }
                }
            }
          }
        
      }
    
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .Servicios {
        height: 75vh;
        .Servicios__Bloque {
            margin: 5% 5% 0 5%;
        }
        .Servicios__Titulo {
            h3 {
                padding: 0;
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .Servicios {
        height: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        .Servicios__Titulo {
            h3 {
                text-align: center;
                padding-bottom: 50px;
                font-size: 3.5rem;
            }
        }
        .Servicios__Bloque {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            .Servicios__Bloque__Item {
                width: 90%;
                height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 20px;
                img {
                    text-align: center;
                    width: 150px;
                }
                h4 {
                    color: $color_botones;
                    text-align: center;
                    margin: 5px;
                }
                p {
                    color: #000000;
                    text-align: center;
                    margin: 10px;
                }
            }
        }
    }
}